---
---

$primary: #DD2D2D;


$line-height-base: 1.6;
$navbar-height: 100px;
$navbar-margin-bottom: 30px;
$code-color: #586E75;
$pre-color: #586E75;
$well-bg: #f8f8f8;
$code-bg: #f8f8f8;
$pre-bg: #f8f8f8;  
$body-bg: white;
$navbar-default-bg: #f8f8f8;
$navbar-default-border: #e7e7e7;
$blockquote-bg: #eeeef8;  
$nav-pills-active-link-hover-bg: $navbar-default-bg;
$nav-pills-link-active-color: black;
$nav-pills-link-active-bg: $navbar-default-bg;

$font-size-base: 1rem;

h1, .h1 { font-size: floor($font-size-base * 2.50); } /* ~34px */
h2, .h2 { font-size: floor($font-size-base * 2.15); } /* ~30px */
h3, .h3 { font-size: ceil($font-size-base * 1.70); }  /* ~24px */
h4, .h4 { font-size: ceil($font-size-base * 1.25); }  /* ~18px */
h5, .h5 { font-size:  $font-size-base; }
h6, .h6 { font-size: ceil($font-size-base * 0.85); }  /* ~12px */

@import "bootstrap/scss/bootstrap";


/* general */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.text-center {
     text-align: center;
}

.text-right {
     text-align: right;
}

/* logo */

.logo {
	width: 100px;
	height: 100px;
	padding: 5px;
}

.biglogo {
	width: 170px;
	height: 170px;
	padding: 5px;
}

.logobox {
	height: 170px;
	display: table-cell; 
	vertical-align: middle;
}

/* navbar */

#header {
    background-color: $navbar-default-bg;
    border-bottom: 1px solid $navbar-default-border;
}


.navbar-brand { 
	font-size: 50px; 
	font-weight: 100;
}
.navbar-nav { 
	font-size: 30px; 
	font-weight: 100;
}
.navbar-text {
	font-size: 15px;
	font-weight: 300;	
}

a.nav-link {
    color: $gray-900;
}

/* headings */

.bigtitle {
	font-size: 60px; 
	line-height: 55px;	
	font-weight: 100;
	/* Museo */	
}

.title {
	font-size: 36px; 
	line-height: 40px;	
	font-weight: 100;
	/* Museo */	
}

.bighead {
	font-size: 32px;
	font-weight: 300;
	line-height:36px;
	/* Museo */	
}

.head {
	font-size: 24px;
	font-weight: 300;
	line-height:30px;
	/* Museo */	
}

.smallhead {
	font-size: 19px;
	font-weight: 300;
	line-height: 23px;
	/* Museo */	
}

.note {
	font-size: 15px;
	font-weight: 300;
	line-height: 18px;
	/* Museo */	
}

.smallnote {
	font-size: 13px;
	font-weight: 300;
	line-height: 16px;
	/* Museo */	
}

.text-gray {
    color: #777777;
}

.text-dark-gray {
    color: gray;
}

/* other */

body {
	font-weight: 300;
}

p {
	font-weight: 300;
}

.hugespacer {
	height: 50px;
}

.bigspacer {
	height: 20px;
}

.spacer {
	height: 10px;
}

.smallspacer {
	height: 5px;
}

.headerspacer {
	height: 130px;
}

.footerspacer {
	height: 70px;
}

a.off { 
	color: inherit; 
}

a.foot {
	color: inherit;
}

a.foot:hover {
	color: gray;
}

pre {
    overflow-x: auto;
}

pre code {
    overflow-wrap: normal;
    white-space: pre;
}

table {
    @extend .table;
    @extend .table-striped;
}

img {
    @include img-fluid();
}

img.offset {
	float: right; 
	margin: 12px 0px 10px 15px;
}

img.avatar {
	width: 20px;
}

.post img {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

blockquote {
	p {
    font-size: ($font-size-base * 1.00);
    }
}

figcaption {
	text-align: center;
	font-size: 90%;
}

.breadcrumb {
	padding: 0px 0px;
	background-color: $body-bg;
	> li {
		&+li:before {  
			padding: 0px;
			content: "\00a0@{breadcrumb-separator}\00a0";
		}
		&+li:after {  
			padding: 0px;
		}
	}
}

.feedbox {
    height: 320px;
    overflow: hidden;    
}

.postbox {
	min-height: 80px;
}

.paperbox {
	min-height: 140px;
}

.projectbox {
	min-height: 120px;
}

.memberbox {
	min-height: 200px;
}

.talkbox {
	min-height: 100px;
}

.titlebox {
	min-width: 300px;    
}

.handlebox {
	height: 20px;
	display: table-cell; 
	vertical-align: middle;
}

.pad-right {
	padding-right: 10px;
}

.pad-left {
	padding-left: 10px;
}

@media (min-width: 992px) {
    #sidebar.sidebar-fixed {
        position: fixed;
    }
}

.footer {
	position: fixed;
	bottom: 0%;
	width: 100%;
	height: 60px;
	border: 1px solid transparent;
	border-color: $navbar-default-border;
	background-color: $navbar-default-bg;
}

.footernav {
    @extend .note;
    @extend .text-gray;
    text-align: center;
    margin-right: 2px;
    border: none;
    background-color: $navbar-default-bg;
}


/* Workshop programme styling */

table td.food {
    background-color: #cfc;
}

table td.social {
    background-color: orange;
}

table td.lecture {
    background-color: #ffc;
}

table td.help-session {
    background-color: #faa;
}

table td.invited-lecture {
    background-color: #fcf;
}

table td.tutorial {
    background-color: #ccf;
}

table td.padding {
    background-color: white;
    vertical-align: middle;
    text-align: center;
}
