---
layout: default
title: Taming the BEAST / contribute
categories: 
 - contribute
---

<div class="row">
	<div class="col-md-12">		
		<div class="title">
			Anyone can contribute to Taming the BEAST!
		</div>

		<div class="bigspacer"></div>

		<div class="smallhead">			
			Whether you want to contribute a brand new tutorial, extend or update an existing tutorial, or simply report an error, anyone can contribute to improving Taming the BEAST! We rely on the community to keep our set of tutorials up to date and to catch mistakes, so we need everyone who can contribute to get involved. If a topic is not covered here please <a href="/team/">contact</a> us. 
		</div>
	</div>				
</div>

<div class="bigspacer"></div>
<div class="bigspacer"></div>


{% for post in site.categories.contribute %}

	{% for member in site.categories.team %}
		{% if member.title == post.author %}
			{% assign author = member %}
		{% endif %}
	{% endfor %}

    {% cycle 'add rows': '<div class="row">', nil, nil %}
		<div class="col-md-4 postbox">
			<div class="smallhead">
				<a href="{{ post.url | prepend: site.baseurl }}" class="off">{{ post.title }}</a>
			</div>	
			<div class="smallspacer"></div>
			<div class="smallnote">
				{{ post.date | date: "%-d %b %Y" }}
				{% if author %}
				by <a class="off" href="{{ author.url | prepend: site.baseurl }}">{{ author.handle }}</a>
				{% endif %}	
			</div>
			<div class="bigspacer"></div>
			<div class="spacer"></div>		
        </div>
    {% cycle 'close rows': nil, nil, '</div>' %}
{% endfor %}
{% cycle 'close rows': nil, '</div>', '</div>' %}

<div class="bigspacer"></div>

<div class="row">
  <div class="col-md-12">		
    <div class="title">
      Host your own Taming the BEAST Workshop!
    </div>

    <div class="bigspacer"></div>

    <div class="smallhead">			
      Are you considering hosting your own BEAST 2 workshop?  If so, the following guide is for you!  Please also <a href="mailto:workshops@taming-the-beast.org">contact us</a> at the earliest opportunity so that we can help out where possible and include information about your workshop on the website.
    </div>
  </div>				
</div>

<div class="bigspacer"></div>

<div class="row">
  <div class="col-md-4 postbox">
    <div class="smallhead">
      <a href="media/TTB_Hosting_Guide.pdf" class="off">Taming the BEAST:<br>
      A Host's Workshop Guide</a>
    </div>
    <div class="smallspacer"></div>
    <div class="smallnote">
      Genevieve Fitzjames, Louis Du Plessis, Tanja Stadler
    </div>
  </div>
</div>
