<div class="footerspacer"></div>

<div class="footer">
  
  <div style="text-align: center">
    <a href="https://www.sib.swiss/services/open-software-and-databases">
      <img src="./images/sib_logo2023.png" width="150">
    </a>
    <p style="margin-top:0.5em;">BEAST 2 is part of <a href="https://www.sib.swiss/services/open-software-and-databases">SIB's portfolio</a> of open databases and software tools.</p></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ul class="list-group list-group-horizontal">
        <li class="footernav list-group-item"><a class="foot" href="/about/">about</a></li>
        <li class="footernav list-group-item"><a class="foot" href="/contact/">contact</a></li>
        <li class="footernav list-group-item"><a class="foot" href="/license/">license</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <div class="footer-logo">
          <a href="https://www.sib.swiss/services/open-software-and-databases">
            <img src="./images/sib_logo2023.png" width="150">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
