<div id="header">

  <nav class="navbar navbar-expand-lg navbar-light"vvvvvvvvvv>
    <div clas="container-fluid">
      <div class="navbar-header">
        {% if page.categories.first != 'home' %}
        <a class="navbar-brand" href="{{ site.baseurl }}/">Taming the BEAST</a>
        <object class="logo navbar-brand" data="{{ site.baseurl }}/images/logo_bw.svg" type="image/svg+xml"></object>
        {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link {% if page.categories.first == 'news' %} active {% endif %}" aria-current="page" href="{{site.baseurl}}/news/">news</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.categories.first == 'workshops' %} active {% endif %}" href="{{site.baseurl}}/workshops/">workshops</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.categories.first == 'tutorials' %} active {% endif %}" href="{{site.baseurl}}/tutorials/">tutorials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page.categories.first == 'contribute' %} active {% endif %}" href="{{site.baseurl}}/contribute/">contribute</a>
          </li>
          <li class="nav-item"><a class="nav-link" type="application/rss+xml" href="{{ site.baseurl }}/feed.news.xml">
              <i class="bi bi-rss"></i>
          </a></li>
        </ul>
      </div>
      
    </div>
  </nav>

</div>
