<head>
	<meta charset="utf-8"/>
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- RSS feed -->
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.news.xml">
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.tutorials.xml">

	
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.ico">	

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/bootstrap/css/bootstrap.css">
    <script src="{{ site.baseurl }}/bootstrap/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/bootstrap/icons/bootstrap-icons.css">

    <!-- Our style -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css">

</head>
