<div class="row">
	<div class="col-md-12">
		<div class="centered-pills">
			<ul class="nav nav-pills note">
				{% if page.filter == "all" %}
				<li role="presentation" class="active">
				{% else %}
				<li role="presentation">
				{% endif %}
					<a class="off" href="{{ site.baseurl }}/tutorials/">
						<i class="bi bi-reply-all"></i> All
					</a>
				</li>				
				{% if page.filter == "beginner" %}
				<li role="presentation" class="active">
				{% else %}
				<li role="presentation">
				{% endif %}
					<a class="off" href="{{ site.baseurl }}/tutorials/beginner/">
						<i class="bi bi-person"></i> Beginner
					</a>
				</li>				
				{% if page.filter == "intermediate" %}
				<li role="presentation" class="active">
				{% else %}
				<li role="presentation">
				{% endif %}
					<a class="off" href="{{ site.baseurl }}/tutorials/intermediate/">
						<i class="bi bi-truck"></i> Intermediate
					</a>
				</li>				
				{% if page.filter == "professional" %}
				<li role="presentation" class="active">
				{% else %}
				<li role="presentation">
				{% endif %}
					<a class="off" href="{{ site.baseurl }}/tutorials/professional/">
						<i class="bi bi-lightning"></i> Professional
					</a>
				</li>
				<li role="presentation">
					<a class="off" href="{{ site.baseurl }}/news/archive/">
						<a class="off" type="application/rss+xml" href="{{ site.baseurl }}/feed.tutorials.xml"><i class="bi bi-rss"></i> Subscribe</a>
					</a>
				</li>
			</ul>
		</div>
		<div class="bigspacer"></div>
	</div>
</div>


