<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-pills justify-content-center">
      <li class="nav-item">
      {% if page.filter == "all" %}
        <a class="nav-link active" href="{{ site.baseurl }}/tutorials/">
        {% else %}
        <a class="nav-link" href="{{ site.baseurl }}/tutorials/">
        {% endif %}
          <i class="bi bi-reply-all"></i> All
        </a>
      </li>				
      <li class="nav-item">
      {% if page.filter == "beginner" %}
        <a class="nav-link active" href="{{ site.baseurl }}/tutorials/beginner/">
        {% else %}
        <a class="nav-link" href="{{ site.baseurl }}/tutorials/beginner/">
        {% endif %}
          <i class="bi bi-person"></i> Beginner
        </a>
      </li>				
      <li class="nav-item">
      {% if page.filter == "intermediate" %}
        <a class="nav-link active" href="{{ site.baseurl }}/tutorials/intermediate/">
        {% else %}
        <a class="nav-link" href="{{ site.baseurl }}/tutorials/intermediate/">
        {% endif %}
          <i class="bi bi-truck"></i> Intermediate
        </a>
      </li>				
      <li class="nav-item">
      {% if page.filter == "professional" %}
        <a class="nav-link active" href="{{ site.baseurl }}/tutorials/professional/">
        {% else %}
        <a class="nav-link" href="{{ site.baseurl }}/tutorials/professional/">
        {% endif %}
          <i class="bi bi-lightning"></i> Professional
        </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" type="application/rss+xml" href="{{ site.baseurl }}/feed.tutorials.xml"><i class="bi bi-rss"></i> Subscribe</a>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="bigspacer"></div>

