---
layout: default
title: Taming the BEAST / workshops
categories: 
 - workshops
 - team
---

<div class="row">
	<div class="col-md-12">
		<div class="title">
			Upcoming workshops
		</div>	
	</div>
</div>	

<div class="bigspacer"></div>

{% assign count = 0 %}
{% for workshop in site.categories.workshops reversed %}
	{% capture todaysdate %}{{ 'now' | date: '%s '}}{% endcapture %}
	{% capture workshopdate %}{{ workshop.enddate | date: '%s '}}{% endcapture %}
	{% if workshopdate >= todaysdate %} 
        {% cycle 'add rows upcoming': '<div class="row">', '' %}   
            {% include workshop_item.html %}
            {% assign count = count | plus: 1 %}  
        {% cycle 'close rows upcoming': '', '</div>' %}  
    {% endif %}
{% endfor %}

{% if count == 0 %}
<div class="row">
    <div class="col-md-6 tutorialbox"> 
        <div class="media text-gray">
                Coming soon...
        </div>
        <div class="bigspacer"></div>
        <div class="bigspacer"></div>
    </div>
</div>
{% endif %}


<div class="row">
	<div class="col-md-12">
		<div class="title">
			Past workshops
		</div>	
	</div>
</div>

<div class="bigspacer"></div>

{% for workshop in site.categories.workshops %}
	{% capture todaysdate %}{{ 'now' | date: '%s '}}{% endcapture %}
	{% capture workshopdate %}{{ workshop.enddate | date: '%s '}}{% endcapture %}
	{% if workshopdate < todaysdate %}
            {% cycle 'add rows past': '<div class="row">', '' %}
                {% include workshop_item.html %}
            {% cycle 'close rows past': '', '</div>' %}
    {% endif %}
{% endfor %}
