---
layout: default
title: Taming the BEAST / tutorials
categories: 
 - tutorials
filter: all
---

{% include tutorials_header.html %}

{% for repo in site.tutorials %}

	{% for t in site.data.tutorials %} 
		{% if t.repo == repo %}
			{% assign tutorial = t %}
			{% assign level = tutorial.level | downcase %}
		{% endif %}
	{% endfor %} 
		
	{% if level != 'deprecated' %}
    	{% include tutorial_item.html %}
    {% endif %}

{% endfor %}
{% cycle 'close rows': nil, '</div>', '</div>' %}

<hr>

{% include citation.html %} 