---
layout: default
---

<div class="row">
	<div class="col-md-10">
		<div class="bigtitle titlebox">			
			<a class="off" target="_blank" href="{{ page.homepage }}">{{ page.title }}</a>
		</div>
		<p>
		<div class="head">
			{{ page.formtype }}
		</div>
		<div class="smallhead">                  		  
			Closing date: {{ page.closedate }}
		</div>
	</div>		

	<div class="col-md-2 text-right">
    	<img width=160 class="media-object" src="{{ page.image | prepend: site.baseurl }}">
	</div>		
</div>

<!--div class="bigspacer"></div-->

<div class="row">
	<div class="col-md-12">
		{% if page.open %}
			{{ content }}
		{% else %}
		This form is not open for submissions. That could be either because the form hasn't been opened 
		yet, or because the deadline for submissions has passed. If you believe this is a mistake, please <a href="mailto:workshops@taming-the-beast.org">contact us</a>.
		{% endif %}
	</div>
</div>
