---
layout: default
---

<div class="row">
	<div class="col-md-10">
		<div class="bigtitle titlebox">
			<a class="off" target="_blank" href="{{ page.homepage }}">{{ page.title }}</a>
		</div>
		<p>
		<div class="head">
			{% if page.latitude and page.longitude %}

            	        <a class="off" target="_blank" href="http://www.google.com/maps/place/{{ page.latitude }},{{ page.longitude }}">
                          {% if page.address %}
                            {{ page.address}},
                          {% endif %}
                          {{ page.location }}</a>
                        
                        {% else %}

                          {% if page.address %}
                            {{ page.address}},
                          {% endif %}
                          {{ page.location }}

                        {% endif %}
		</div>
		<div class="smallhead">
                  {% if page.is_postponed %}
                  <span style="font-weight: bold; color: red;">Postponed</span>
                  {% else %}
		  {{ page.startdate | date: '%B %d, %Y' }}-{{ page.enddate | date: '%B %d, %Y' }}
                  {% endif %}
</li> 
		</div>
	</div>		

	<div class="col-md-2 text-right">
    	<img width=160 class="media-object" src="{{ page.image | prepend: site.baseurl }}">
	</div>		
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-12">
		{{ content }}
	</div>
</div>
